<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="ShopVisibleOrderServiceSoap" closeTimeout="00:10:00"
     openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
     maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
     <security mode="Transport" />
    </binding>
    <binding name="ShopVisibleProductServiceSoap" closeTimeout="00:10:00"
     openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
     maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://api.shopvisible.com/OrderService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ShopVisibleOrderServiceSoap"
    contract="OrderServices.OrderServiceSoap" name="ShopVisibleOrderServiceSoap" />
  <endpoint address="https://api.shopvisible.com/ProductService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ShopVisibleProductServiceSoap"
    contract="ProductServices.ProductServiceSoap" name="ShopVisibleProductServiceSoap" />
   </client>
	</system.serviceModel>
</configuration>