<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="OrderServiceSoap1" />
                <binding name="ProductServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProductServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OrderServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="ProductServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.shopvisible.com/OrderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
                contract="OrderServices.OrderServiceSoap" name="OrderServiceSoap" />
            <endpoint address="https://api.shopvisible.com/OrderService.asmx"
                binding="customBinding" bindingConfiguration="OrderServiceSoap12"
                contract="OrderServices.OrderServiceSoap" name="OrderServiceSoap12" />
            <endpoint address="https://api.shopvisible.com/ProductService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap"
                contract="ProductServices.ProductServiceSoap" name="ProductServiceSoap" />
            <endpoint address="https://api.shopvisible.com/ProductService.asmx"
                binding="customBinding" bindingConfiguration="ProductServiceSoap12"
                contract="ProductServices.ProductServiceSoap" name="ProductServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>