<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ShopVisibleOrderServiceSoap" transferMode="Streamed" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864">
					<security mode="Transport" />
					<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880"/>
				</binding>
				<binding name="ShopVisibleProductServiceSoap" transferMode="Streamed" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864">
					<security mode="Transport" />
					<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://api.shopvisible.com/OrderService.asmx" binding="basicHttpBinding" bindingConfiguration="ShopVisibleOrderServiceSoap" contract="OrderServices.OrderServiceSoap" name="ShopVisibleOrderServiceSoap" />
			<endpoint address="https://api.shopvisible.com/ProductService.asmx" binding="basicHttpBinding" bindingConfiguration="ShopVisibleProductServiceSoap" contract="ProductServices.ProductServiceSoap" name="ShopVisibleProductServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>